html, body {
    height: 100%;
    margin: 0
}

#homePageJumbotron {
    margin-top: 30px;
    font-family: Ubuntu;
}

.btnContainer {
    margin-top: 15px;
}

#aboutContainer {
    width: 75%;
}

#aboutJumbotron {
    margin-top: 30px;
    font-family: Ubuntu;
}

.aboutText {
    text-align: justify;
}

#recipesContainer {
    margin-top: 60px;
}

.recipeCard {
    margin-bottom: 15px;
}

.recipeTitle {
    color: black;
}

.recipeTitle:hover {
    text-decoration: none;
}