html, body {
    height: 100%;
    margin: 0
}

p {
    text-align: justify;
}

li {
    text-align: justify;
}

#homePageJumbotron {
    margin-top: 30px;
    font-family: Ubuntu;
}

.btnContainer {
    margin-top: 15px;
}

.btn:hover {
    letter-spacing: 2px;
    transition: .5s;
}

#aboutContainer {
    width: 75%;
}

#aboutJumbotron {
    margin-top: 30px;
    font-family: Ubuntu;
}

.aboutText {
    text-align: justify;
}

/* Recipe cards from recipes.html */
#recipesContainer {
    margin-top: 60px;
}

.card {
    font-family: Ubuntu;
}

.card-title {
    font-weight: 600;
}

.recipeTitle:hover {
    /* Color is supbject to change!! */
    color: #4aaaa5 !important;
    transition: .5s !important;
}

.recipeCard {
    margin-bottom: 15px;
}

.recipeTitle {
    color: black;
}

.recipeTitle:hover {
    text-decoration: none;
}

.borderHover:hover {
    position: relative;
}

/* Custom hover effect for cards */
.borderHover:hover::before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #4aaaa5;
    z-index: -1;
}

.borderHover:hover::after {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #4aaaa5;
    z-index: -2;
    filter: blur(15px);
}